
body{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding: 100px;

}
.containerExterno{
    background-color:rgb(140, 140, 196);
    padding: 100px;
    max-width: 950px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
    margin: auto;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    box-sizing:content-box;
    box-shadow: 10px 10px 10px black ;
    
   
}

.d1{
    background-color: gray;
    
    width: 250px;
    height: 30px;
}

.d2{
    
    background-color: #16818b;
    width: 527px;
    height: 30px;
}

.d3{ background-color: #16818b;
height: 200px;
width: 250px;
}

.d4{ background-color: rgb(182, 89, 89);
    height: 200px;
    width: 250px;}

.d5{ background-color: #16818b;
    height: 200px;
    width: 250px;}

.d6{background-color: gray;
    width: 800px;
    height: 30px;
}

