
@keyframes animaBtn {
    10%{border-color: black;background-color: black;color: white;}
    100%{border-color:red;background-color: black;color: red;}
    
}
body{
    text-align: center;
    background-color: darkslategray;
}



#btn{
    width: 200px;
    font-size: 2rem;
    border: 6px solid black;
    border-radius: 10px;
    color: white;
    background-color: black;
    animation-name: animaBtn;
    animation-duration:.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
   
    
}
#btn:hover{ 
    cursor: pointer;
}

