body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(124, 124, 194);
}

.container{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 30px;
    gap: 10px;
}

.container button{
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.5rem;
}

.container button:hover{
    background-color: red;
    cursor: pointer;
}

.container input{
    padding: 10px;
    width: 80%;
    font-size: 2rem;
    border-radius: 10px;
}


.list-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: beige;
width: 500px;
margin: auto;
border: 1px solid black;
border-radius: 10px;
}
.list-container h1 span img{
    width: 50px;
    
}

.list-container ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   
}
.list-container li{
    display: flex;
    gap: 10px;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;

}




.list-container button{
    background-color: blue;
    color: white;
    padding: 10px;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
}

.list-container button:hover{
    cursor: pointer;
    background-color: red;
}